# Sorting, grouping and joins (ordenamiento, agrupación y unión)

Existe en **SQL** el _key word_ `ORDER BY` para ordenar los resultados obtenidos. Por default `ORDER BY` ordena los resultados en orden ascendente. De lo contrario tendremos que especificar con `DESC` para obtener los resultados de forma descendente. Por ejemplo:

```sql
SELECT title
FROM films
ORDER BY release_year DESC;
```
—_Encontremos los nombres y las fechas de nacimiento de las personas de la tabla `people`_ —

In [18]:
import pandas as pd
import psycopg2.extras
conn = psycopg2.connect("dbname='test' user='test' host='/tmp/'")
cur = conn.cursor()

In [7]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    SELECT people.birthdate, people.name FROM intro_sql.people ORDER BY birthdate ;
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

       birthdate              name
0     1837-10-10       Robert Shaw
1     1872-11-07  Lucille La Verne
2     1874-03-14         Mary Carr
3     1875-01-22     D.W. Griffith
4     1878-01-20     Finlay Currie
...          ...               ...
8392        None        Emily Dell
8393        None     Pierre Coffin
8394        None   Emily Alyn Lind
8395        None    Pierre Perrier
8396        None     Pierre Prieur

[8397 rows x 2 columns]

—_Encontrar el título de las películas estrenadas en el `2000` o `2012` ordenadas por fecha (`release_year`):_ —

In [12]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    SELECT films.title FROM intro_sql.films WHERE release_year=2000 OR release_year=2012 ORDER BY release_year;
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

                     title
0           102 Dalmatians
1                  28 Days
2                3 Strikes
3                 Aberdeen
4    All the Pretty Horses
..                     ...
386        Won't Back Down
387    Wrath of the Titans
388         Wreck-It Ralph
389               Zambezia
390       Zero Dark Thirty

[391 rows x 1 columns]

—_Seleccionar, de la tabla `films`, las películas estrenadas menos en el `2015`, ordenadas por su duración (`duration`):_ —

In [16]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    SELECT * FROM intro_sql.films WHERE release_year<>2015 ORDER BY duration;
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

,id,title,release_year,country,duration,language,certification,gross,budget
0,2926,The Touch,2007,USA,7.0,English,None,NaN,13000.0
1,4098,Vessel,2012,USA,14.0,English,None,NaN,NaN
2,2501,Wal-Mart: The High Cost of Low Price,2005,USA,20.0,English,Not Rated,NaN,1500000.0
3,566,Marilyn Hotchkiss' Ballroom Dancing and Charm ...,1990,USA,34.0,English,None,333658.0,34000.0
4,2829,Jesus People,2007,USA,35.0,English,None,NaN,NaN
5,462,Evil Dead II,1987,USA,37.0,English,X,5923044.0,3600000.0
6,3579,Sea Rex 3D: Journey to a Prehistoric World,2010,UK,41.0,English,None,4074023.0,5000000.0
7,2985,Dolphins and Whales 3D: Tribes of the Ocean,2008,UK,42.0,English,None,7518876.0,6000000.0
8,2997,Flame and Citron,2008,Denmark,45.0,Danish,Not Rated,145109.0,45000000.0
9,4358,Alpha and Omega 4: The Legend of the Saw Tooth...,2014,USA,45.0,None,None,NaN,7000000.0
10,1414,Michael Jordan to the Max,2000,USA,46.0,English,None,18642318.0,NaN
11,2437,The Call of Cthulhu,2005,USA,47.0,English,None,NaN,50000.0
12,4498,Rise of the Entrepreneur: The Search for a Bet...,2014,USA,52.0,English,G,NaN,450000.0
13,2894,Taxi to the Dark Side,2007,USA,53.0,English,R,274661.0,1000000.0
14,2239,The Case of the Grinning Cat,2004,France,59.0,French,None,NaN,150000.0
15,4516,Stories of Our Lives,2014,Kenya,60.0,Swahili,None,NaN,15000.0
16,4275,The Brain That Sings,2013,United Arab Emirates,62.0,Arabic,None,NaN,125000.0
17,3879,Winnie the Pooh,2011,USA,63.0,English,G,26687172.0,30000000.0
18,11,It Happened One Night,1934,USA,65.0,English,Unrated,NaN,325000.0
19,163,Pink Narcissus,1971,USA,65.0,English,Not Rated,8231.0,27000.0
20,4132,Aroused,2013,USA,66.0,English,None,NaN,150000.0
21,2932,Timecrimes,2007,Spain,66.0,Spanish,R,38108.0,2600000.0
22,4333,UnDivided,2013,USA,66.0,English,PG,NaN,250000.0
23,10,She Done Him Wrong,1933,USA,66.0,English,Approved,NaN,200000.0
24,4328,Treachery,2013,USA,67.0,English,None,NaN,625000.0
25,4433,Henry & Me,2014,USA,67.0,English,PG,NaN,10000000.0
26,2406,Pooh's Heffalump Movie,2005,USA,68.0,English,G,18081626.0,20000000.0
27,930,Austin Powers: International Man of Mystery,1997,USA,68.0,English,PG-13,53868030.0,17000000.0
28,42,Open Secret,1948,USA,68.0,English,Approved,NaN,NaN
29,514,The Land Before Time,1988,USA,69.0,English,G,48092846.0,12500000.0
...,...,...,...,...,...,...,...,...,...
4670,1770,Gangs of New York,2002,USA,216.0,English,R,77679638.0,100000000.0
4671,481,The Last Emperor,1987,China,219.0,English,PG-13,43984230.0,23000000.0
4672,1342,All the Pretty Horses,2000,USA,220.0,English,PG-13,15527125.0,57000000.0
4673,192,The Godfather: Part II,1974,USA,220.0,English,R,57300000.0,13000000.0
4674,112,The Greatest Story Ever Told,1965,USA,225.0,English,G,8000000.0,20000000.0
4675,19,Gone with the Wind,1939,USA,226.0,English,G,198655278.0,3977000.0
4676,84,Lawrence of Arabia,1962,UK,227.0,English,PG,6000000.0,15000000.0
4677,555,Dances with Wolves,1990,USA,236.0,English,PG-13,184208848.0,22000000.0
4678,4318,The Wolf of Wall Street,2013,USA,240.0,English,R,116866727.0,100000000.0
4679,334,Gandhi,1982,UK,240.0,English,PG,NaN,22000000.0
4680,92,Cleopatra,1963,UK,251.0,English,Approved,57750000.0,31115000.0
4681,385,Once Upon a Time in America,1984,Italy,251.0,English,R,5300000.0,30000000.0
4682,2766,Arn: The Knight Templar,2007,Sweden,270.0,Swedish,None,NaN,25000000.0
4683,655,Gettysburg,1993,USA,271.0,English,PG,10769960.0,25000000.0
4684,1950,Gods and Generals,2003,USA,280.0,English,PG-13,12870569.0,56000000.0
4685,248,Apocalypse Now,1979,USA,289.0,English,R,78800000.0,31500000.0
4686,287,Das Boot,1981,West Germany,293.0,German,R,11433134.0,14000000.0
4687,1666,The Legend of Suriyothai,2001,Thailand,300.0,Thai,R,454255.0,400000000.0
4688,268,Heaven's Gate,1980,USA,325.0,English,R,1500000.0,44000000.0
4689,649,"Blood In, Blood Out",1993,USA,330.0,English,R,4496583.0,35000000.0
4690,4018,Should've Been Romeo,2012,USA,NaN,English,None,NaN,5000000.0
4691,3504,Harry Potter and the Deathly Hallows: Part I,2010,UK,NaN,English,None,NaN,NaN
4692,2712,The Naked Ape,2006,USA,NaN,English,None,NaN,NaN
4693,1398,Hum To Mohabbat Karega,2000,India,NaN,Hindi,None,NaN,NaN
4694,3728,Harry Potter and the Deathly Hallows: Part II,2011,UK,NaN,English,None,NaN,NaN
4695,4138,Barfi,2013,India,NaN,Kannada,None,NaN,NaN
4696,2326,Dil Jo Bhi Kahey...,2005,India,NaN,English,None,129319.0,70000000.0
4697,4396,Destiny,2014,USA,NaN,English,None,NaN,NaN
4698,3208,Black Water Transit,2009,USA,NaN,English,None,NaN,23000000.0
4699,3552,N-Secure,2010,USA,NaN,English,R,2592808.0,NaN

—_Seleccionar los títulos (`title`) y el monto (`gross`), de la tabla `films` para los cuales los títulos comiencen con `M`, ordenadas por títuolo alfabeticamente:_ —

In [19]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    SELECT films.title, films.gross FROM intro_sql.films WHERE title LIKE 'M%' ORDER BY title;
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

                      title       gross
0                 MacGruber   8460995.0
1                   Machete  26589953.0
2             Machete Kills   7268659.0
3        Machine Gun McCain         NaN
4      Machine Gun Preacher    537580.0
..                      ...         ...
263            Mystic Pizza  12793213.0
264            Mystic River  90135191.0
265       My Summer of Love    992238.0
266  My Super Ex-Girlfriend  22526144.0
267    My Week with Marilyn  14597405.0

[268 rows x 2 columns]

Para ordenar de forma descendente el `KEYWORD` es `DESC`. Por ejemplo:

—_Para poder ordenar de manera descendente los nombres de la tabla `people` la sintaxis sería:_ —
```sql
SELECT people.name
FROM intor_sql.people
ORDER BY name DESC;
```