# Sorting, grouping and joins (ordenamiento, agrupación y unión)

Existe en **SQL** el _key word_ `ORDER BY` para ordenar los resultados obtenidos. Por default `ORDER BY` ordena los resultados en orden ascendente. De lo contrario tendremos que especificar con `DESC` para obtener los resultados de forma descendente. Por ejemplo:

```sql
SELECT title
FROM films
ORDER BY release_year DESC;
```
—_Encontremos los nombres y las fechas de nacimiento de las personas de la tabla `people`_ —

In [11]:
import pandas as pd
import psycopg2.extras
conn = psycopg2.connect("dbname='test' user='test' host='/tmp/'")
cur = conn.cursor()

In [7]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    SELECT people.birthdate, people.name FROM intro_sql.people ORDER BY birthdate ;
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

       birthdate              name
0     1837-10-10       Robert Shaw
1     1872-11-07  Lucille La Verne
2     1874-03-14         Mary Carr
3     1875-01-22     D.W. Griffith
4     1878-01-20     Finlay Currie
...          ...               ...
8392        None        Emily Dell
8393        None     Pierre Coffin
8394        None   Emily Alyn Lind
8395        None    Pierre Perrier
8396        None     Pierre Prieur

[8397 rows x 2 columns]

—_Encontrar el título de las películas estrenadas en el `2000` o `2012` ordenadas por fecha (`release_year`):_ —

In [12]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    SELECT films.title FROM intro_sql.films WHERE release_year=2000 OR release_year=2012 ORDER BY release_year;
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

                     title
0           102 Dalmatians
1                  28 Days
2                3 Strikes
3                 Aberdeen
4    All the Pretty Horses
..                     ...
386        Won't Back Down
387    Wrath of the Titans
388         Wreck-It Ralph
389               Zambezia
390       Zero Dark Thirty

[391 rows x 1 columns]