In [3]:
import pandas as pd
import psycopg2.extras
conn = psycopg2.connect("dbname='test' user='test' host='/tmp/'")
cur = conn.cursor()

En **SQL** por lo general trabajamos con una gran cantidad de tablas. Muchas de ellas tienen atributos en común, pero con diferente información en cada una de ellas. Observemos el siguiente ejemplo:

—_En las siguientes tablas (`cities` y `countries`) encontramos características socioeconómicas y características geográficas respectivamente. El objetivo de este ejercicio es; "crear una consulta que solo contenga tres atributos, `name` de la tabla `cities`, `name` de la tabla `countries` y `region` de la tabla `countries`. Ambas tablas contienen la misma información pero con diferente nombre de atributo, nos referimos a `code` en `countries` y `cities` en `conutry_code`. Este será el `key_value` para realizar el "match" de los registros entre ambas tablas. Al final les darémos un "alias" a cada uno de ellos._ —

En esta ocasión veremos que dentro de la sintaxis del _query_ aparecerán unos guiones de la siguiente forma `--`, seguidos de un texto. Como buenas prácticas en **SQL** esto quiere decir que podemos comentar esa parte del código y de esta manera saber ¿qué es lo que está haciendo cada una de las líneas antes de ser ejecutadas?...

Así, si alguien más utiliza nuestro código puede ver que es lo que intentamos hacer.

In [4]:
cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
cur.execute(
    """
    --1. Seleccionamos los nombres de los atributos (con un alias) de ser el caso.
    SELECT cities.name AS city, countries.name AS country, region
        
        --2. La tabla, con los atributos, que deseamos tener "a la izquierda de la consulta".
        FROM joindata_sql.cities 
        
        --3.- Invocación de INNER para "fijar a la derecha los atributos de la consulta". 
        INNER JOIN joindata_sql.countries
            
            --4.- Elección del atributo (key), de ambas tablas, con el cuál deseamos coincidir.
            ON cities.country_code =countries.code;
    """
)
data = cur.fetchall()
conn.commit()
cur.close()
pd.DataFrame([i.copy() for i in data])

            city               country          region
0        Abidjan         Cote d'Ivoire  Western Africa
1      Abu Dhabi  United Arab Emirates     Middle East
2          Abuja               Nigeria  Western Africa
3          Accra                 Ghana  Western Africa
4    Addis Ababa              Ethiopia  Eastern Africa
..           ...                   ...             ...
225      Yerevan               Armenia     Middle East
226     Yokohama                 Japan    Eastern Asia
227    Zhengzhou                 China    Eastern Asia
228    Zhongshan                 China    Eastern Asia
229        Zunyi                 China    Eastern Asia

[230 rows x 3 columns]